<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿 등록 -->
  <servlet>
  	<servlet-name>servletTest01</servlet-name>
  	<servlet-class>kr.or.ddit.basic.servletTest01</servlet-class>  	
  </servlet>
  <!-- 실행 URL에 맞는 서블릿을 매칭 시켜준다. -->
  <servlet-mapping>
  	<servlet-name>servletTest01</servlet-name>
  	<url-pattern>/servletTest01.do</url-pattern>
  </servlet-mapping>
</web-app>