<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 mybatis에서 처리할 SQL문을 작성하는 문서입니다. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
							"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
<!-- 동적쿼리 -->
<!--  
	<![CDATA[]]> : 다른 기호가 태그 역할을 하는 것을 방지 
	CDATA : Character Data :: 문자기호라고 표시
-->
<sql id="dynamicCondition">
   <where>
      <if test="!(stype == '' or sword == '')">
           ${stype} like  '%'||#{sword}||'%'
       </if>
   </where>
</sql>

<select id="listPerPage" resultType="boardvo" parameterType="map">
	select A.* from 
     (select rownum as rnum , B.* from
        (select * from boardtab
          <include refid="dynamicCondition"/> 
               order by  num desc ) B 
    <![CDATA[
          where rownum <= #{end}) A
       where A.rnum >= #{start} 
     ]]> 
</select>

<select id="totalCount" resultType="int" parameterType="map">
	select count(*) from boardtab
    	 <include refid="dynamicCondition"/> 
</select>
</mapper>